/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

 @font-face {
    font-family: Winter;
    src: url("Winter Draw.ttf");
   }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
   background-image: linear-gradient(#cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff);
   font-family: Winter;
   color: #003049;
}

img {
  width: 100px;
}

#hero {
  background-image: url("kolkata-background-DIY.avif");
  background-size: cover;
  height: 400px;
  width: 720px;
  display: block;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#hero h1 {
  background-color: #dda15e;
  width: 201px;
  display: block;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 10px;
}

#hero h2 {
  background-color: #457B9D;
  width: 412px;
  display: block;
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 10px;
}

/* ACTIVITIES SECTION */

#activities {
  background-color: #F1FAEE;
  width: 720px;
  height: 378px;
  margin: 0 auto;
  padding: 30px 0px;
  /* display: flex; */

}

.things-to-do {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 60px 10px;
}

.things-to-do .park {
  padding: 0 20px;
  /* text-align: center; */
  gap: 20px;
}

.park img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.things-to-do .theatre {
  padding: 0px 20px;
  gap: 20px;
}

.theatre img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}



.things-to-do .sport {
  padding: 0 20px;
  gap: 20px;
}

.things-to-do img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

#activities h3 {
  display: block;
  width: 439px;
  margin: 0 auto;
}

#activities img {
  width: 100px;
  height: 100px;
}

/* LAST SECTION */



#guider {
  margin: 50px 0;
}

.box {
  width: 400px;
  height: 294px;
  background: #A8DADC;
  border-bottom: 5px solid black;
  border-radius: 10px;
  /* display: block; */
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 0px 3px aqua;
}

.avatar {
  width: 180px;
  height: 249px;
  padding: 20px 8px 0px 15px;
  border-radius: 50px;
}

.info {
  padding-top: 50px;
  padding-left: 8px;
  padding-right: 15px;
}